*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
    font-family: sans-serif;
    background-color: #fff;
}

#todo-wrapper{
    max-width: 640px;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
}
form{
width: 90%;
margin: 0 auto;

}

#todo-wrapper form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 16px;
    background:#333;
    border: 0;
    float: left;
    font-size: 16px;
    color: #fff;
}
input[type="text"]:focus{
    outline:none;
}

button{
    padding: 16px;
    width: 30%;
    float: left;
    background: green;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

ul{ 
    margin-top:40px;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
}

li{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color:#fff;
    animation: fade 0.3s linear;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h1{
    text-align: center;
    color:#333;
    margin: 10px auto;
}
